<%- include("partials/landingHeader") %>
<div class="ui container main center aligned">
    <div class="ui huge header" >You are not authorized to delete this blog post!</div>
    <a class="ui huge violet button" href="/blogs">Back</a>
</div>
<%- include("partials/footer") %>
