<%- include("./partials/header") %>

<div class="ui container main segment text">
    <div class="ui huge header center aligned">Sign Up</div>
    <form class="ui form" action="/register" method="POST" autocomplete="off">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>    
        </div>
        <a class="ui floated left red inverted button animated" href="/blogs">
            <span class="visible content">Cancel</span>
            <span class="hidden content"><i class="left arrow icon"></i></span>
        </a>
        <button class="ui floated right inverted green animated button">
            <span class="visible content">Sign Up</span>
            <span class="hidden content"><i class="check icon"></i></span>
        </button>
    </form>
    <div class="ui warning message">
        <strong>Already a User? <a href="/login">Log In!</a></strong>
    </div>
</div>

<%- include("./partials/footer") %>
